@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');

* {
    box-sizing: border-box;
}

h1 {
    margin-bottom: 90px;
}
body {
    background:linear-gradient(270deg, rgb(182, 187, 192), rgb(60, 239, 252));
    overflow: hidden;
    color: white;
    font-family: 'Yusei Magic', sans-serif;
    -webkit-text-stroke-width: .5px;
    -webkit-text-stroke-color: rgb(68, 72, 75);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    height: 350px;
    width: 350px;
    position: relative;
    transform: scale(1);
}

 .innerCircle {
    background-color: rgb(209, 218, 218);
    height: 100%;
    width: 100%;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
} 
.instructions {
    color: white;
    font-size: 50px;
    
}


.backgroundCircle {
    background: conic-gradient(
        black 0%,
        black 40%,
        grey 40%,
        grey 70%,
        white 70%,
        white 100%
    ); 
    width: 380px;
    height: 380px;
    border-radius: 50%;
    position: absolute;
    z-index: -2;
    top: -15px;
    left: -15px;

}

.box {
    background-color: whitesmoke;
    border-radius: 5px;
    display: block;
    height: 30px;
    width: 30px;
    animation: changeColor 8s linear forwards infinite;
}

.box-container {
    position: absolute;
    top: -70px;
    left: 170px;
    width: 20px;
    height: 250px;
    
    animation: breathe 8s linear forwards infinite;
    transform-origin: bottom center;
}
@keyframes changeColor {
    0% {
        background-color: black;
    }

    55% {
        background-color: grey;
    }
    75% {
        background-color: white;
    }
}
@keyframes breathe {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}


.container.breatheIn {
    animation: breatheIn 3.2s linear forwards;
}


@keyframes breatheIn {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.2);
    }
}
.container.breatheOut {
    animation: breatheOut 2.4s linear forwards;
}


@keyframes breatheOut {
    from {
        transform: scale(1.2);
    }

    to {
        transform: scale(1);
    }
}

